<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{data?.title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="text-secondary">{{formatTimeBlog(data?.createdAt)}}</span>
        </div>
    </div>
    <div class="row single-post mt-2 no-gutters">
        <div class="col">
            <div class="image-wrapper float-left pr-3">
                <img [src]="data?.image">
            </div>
            <div class="single-post-content-wrapper">{{data?.content}}</div>
        </div>
    </div>
</div>
